<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arena</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Начальный экран выбора карт -->
    <div id="custom-alert" class="alert hidden">
        <span id="alert-message">Not enough money</span>
        <!-- <br> -->
        <!-- <button id="close-alert">OK</button> -->
    </div>
    <div class="card-selection-screen" id="cardSelectionScreen">
        <div class="screen-header">
            <div class="timer" id="timer">00:30</div>
            <div class="choose-hero" id="info-text">Choose Your Hero</div>
        </div>
        <div class="card-options">
            <div class="card-option" data-card="card1">
                <div class="card-opt-hp">
                    <span class="card-opt-hp-text">5</span>
                </div>
                <div class="card-opt-attk">
                    <span class="card-opt-attk-text">5</span>
                </div>
            </div>
            <div class="card-option" data-card="card2">
                <div class="card-opt-hp">
                    <span class="card-opt-hp-text">5</span>
                </div>
                <div class="card-opt-attk">
                    <span class="card-opt-attk-text">5</span>
                </div>
            </div>
            <div class="card-option" data-card="card3">
                <div class="card-opt-hp">
                    <span class="card-opt-hp-text">5</span>
                </div>
                <div class="card-opt-attk">
                    <span class="card-opt-attk-text">5</span>
                </div>
            </div>
        </div>
        <button class="random-button" id="randomButton">Random</button>
    </div>

    <!-- Фон арены -->
    <img class="arena" src="arena.png" alt="collesium">
    <div id="loading">
        <p>Searching for other player</p>
        <br>
        <div class="loader"></div>
    </div>
    <div class="all">
        <!-- Кнопка для открытия/закрытия панели -->
        <div class="toggle-panel" id="togglePanel">
            <div class="toggle-arrow">→</div>
        </div>

        <!-- Выезжающая панель -->
        <div class="side-panel" id="sidePanel">
            <button class="surrender-button">Сдаться</button>

            <!-- Добавляем чекбоксы -->
            <div class="checkbox-container">
                <label class="styled-checkbox">
                    <input type="checkbox" id="checkbox1">
                    <span>Show Mana in Numbers</span>
                </label>
                <label class="styled-checkbox2">
                    <input type="checkbox" id="checkbox2">
                    <span>Show Hp in Numbers</span>
                </label>
            </div>
        </div>

        <div class="opponent-avatar-block">
            <div class="avatar opponent-avatar"></div>
            <div class="enemy-nickname" id="opNick">Opponent Nick</div> <!-- Ник противника -->
            <div class="opponent-hp">
                <div class="opponent-hp-progress">
                    <div class="opponent-hp-track">
                    </div>
                </div>
                <div class="opponenthp"></div>
            </div>
        </div>

        <!-- Блок для счёта раундов и таймера -->
        <div class="round-timer">
            <!-- Круглый счётчик раундов -->
            <button class="button" id="readyBuffs">Ready</button>
            <div class="round-display" id="round-counter">Round: 1</div>

            <!-- Таймер под счётом раундов -->
            <div class="timer-display" id="round-time">00:30</div>
            <!-- <p class="choose-hero" id="additional-info"></p> -->
        </div>

        <!-- Блок для аватара и ника игрока -->
        <div class="player-avatar-block">
            <div class="player-hp">
                <div class="hp"></div>
                <div class="hp-progress">
                    <div class="hp-track">
                    </div>
                </div>
            </div>
            <div class="nickname" id="playerNick">Player Nick</div>
            <div class="avatar player-avatar"></div>
        </div>

        <!-- Блок для карты противника сверху -->
        <div class="opponent-card">
            <div class="opponentcard-large">
                <div class="card-stats-hp" id="op-hp-box">
                    <span id="op-card-number-hp">5</span>
                </div>
                <div class="card-stats-attk" id="op-attk-box">
                    <span id="op-card-number-attk">5</span>
                </div>
            </div>
            <div class="icon-box" id="op-icon">
                <img src="shield.png" alt="Icon" />
            </div>
        </div>

        <!-- Блок для карт сверху -->
        <div class="top-cards">
            <div class="enemycard card-left"></div>
            <div class="enemycard card-center"></div>
            <div class="enemycard card-right"></div>
        </div>

        <!-- Блок для карты на поле -->
        <div class="field-card">
            <div class="card-large">
                <div class="card-stats-hp" id="hp-box">
                    <span id="card-number-hp">5</span>
                </div>
                <div class="card-stats-attk" id="attk-box">
                    <span id="card-number-attk">5</span>
                </div>
            </div>
            <div class="icon-box" id="pl-icon">
                <img src="shield.png" alt="Icon" />
            </div>
        </div>

        <!-- Блок для карт снизу -->
        <div class="bottom-cards">
            <div class="card" data-card="buff1">Card 1</div>
            <div class="card" data-card="buff2">Card 2</div>
            <div class="card" data-card="buff3">Card 3</div>
        </div>

        <div class="manapool">
            <div class="mana"></div>
            <div class="progress">
                <div class="track">
                </div>
            </div>
        </div>

        <div class="bottom-ability-cards">
            <div class="ability-card" data-card="skill1"></div>
            <div class="ability-card" data-card="skill2"></div>
            <div class="ability-card" data-card="skill3"></div>
        </div>
        <div class="attack-button-block">
            <button class="button" id="attackButton">
                <img src="sword.png" alt="Attack" class="attack-image">
            </button>
        </div>


        <div class="button-block">
            <button class="button" id="actionButtonRoll">
                <img src="dice.png" alt="Dice Roll" class="dice-image">
                20
            </button>
            <div class="gold-display">
                <img src="free-icon-hryvnia-9382219.png" alt="Dice Roll" class="gold">
                <div class="gold-text" id="goldValue">1</div>
            </div>
        </div>

        <!-- Вертикальный блок справа -->
        <div class="side-rect" id="sideRect">
            <p>Your buffs</p>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000');
        const arena = document.querySelector('.all');  // Инициализация сокета
        const load = document.querySelector('#loading');  // Инициализация сокета
        const cardOptions = document.querySelectorAll('.card-option');
        const cardBuffs = document.querySelectorAll('.card');
        const cardSelectionScreen = document.getElementById('cardSelectionScreen');
        const RollActionButton = document.getElementById('actionButtonRoll');
        const buffBlock = document.querySelector('.bottom-cards');
        const AbilityBlock = document.querySelector('.bottom-ability-cards');
        const buttonGoldBlock = document.querySelector('.button-block');
        const AttackbuttonBlock = document.querySelector('.attack-button-block');
        const readyButton = document.getElementById('readyBuffs');
        let heroCards = null;
        let buffCards = null;
        let shuffledBuffs = null;
        let timerInterval = null;
        let roundTimerInterval = null;
        let hiddenCardsCount = 0;
        let alertTimeout;
        let roundCounter = 0;
        let serverdata = null;
        let areClicksDisabled = true;

        const randomButton = document.getElementById('randomButton');
        const timerElement = document.getElementById('timer');
        const roundTimeElement = document.getElementById('round-time');

        let room_Id = null;
        let timeLeft = 30;  // Время в секундах
        let roundTimeLeft = 30;  // Время в секундах
        let hasSelectedCard = false;  // Отслеживает, выбрал ли игрок карту

        // buffBlock.style.display = 'none';
        // buttonGoldBlock.style.display = 'none';
        AbilityBlock.style.display = 'none';
        AttackbuttonBlock.style.display = 'none';


        // Функция для обновления таймера
        function updateTimer() {
            if (timeLeft > 0) {
                timeLeft--;
                const minutes = String(Math.floor(timeLeft / 60)).padStart(2, '0');
                const seconds = String(timeLeft % 60).padStart(2, '0');
                timerElement.textContent = `${minutes}:${seconds}`;
            } else {
                clearInterval(timerInterval);
                if (!hasSelectedCard) {
                    selectRandomCard(cardOptions);
                }
            }
        }
        function updateRoundTimer() {
            if (roundTimeLeft > 0) {
                roundTimeLeft--;
                const minutes = String(Math.floor(roundTimeLeft / 60)).padStart(2, '0');
                const seconds = String(roundTimeLeft % 60).padStart(2, '0');
                roundTimeElement.textContent = `${minutes}:${seconds}`;
            } else {
                clearInterval(roundTimerInterval);
                readyButton.click();
            }
        }

        function showAlert(message, duration) {
            const alertBox = document.getElementById('custom-alert');
            const alertMessage = document.getElementById('alert-message');

            // Set the message
            alertMessage.textContent = message;

            // Display the alert
            alertBox.classList.remove('hidden');

            clearTimeout(alertTimeout);
            // Automatically hide the alert after 5 seconds
            alertTimeout = setTimeout(function () {
                alertBox.classList.add('hidden');
            }, duration); // 5000 milliseconds = 5 seconds
        }
        function stopAlert() {
            // Clear the timeout to stop the alert from hiding
            clearTimeout(alertTimeout);

            // Optionally, hide the alert immediately
            const alertBox = document.getElementById('custom-alert');
            alertBox.classList.add('hidden');
        }

        function updateCardNumber(newHPNumber, newATKNumber) {
            document.getElementById('card-number-hp').textContent = newHPNumber;
            document.getElementById('card-number-attk').textContent = newATKNumber;
            if (newHPNumber > 10) {
                document.getElementById('hp-box').style.marginLeft = "13px";
            }
            if (newATKNumber > 10) {
                document.getElementById('attk-box').style.marginRight = "13px";
            }
        }

        function updateOpCardNumber(newHPNumber, newATKNumber) {
            document.getElementById('op-card-number-hp').textContent = newHPNumber;
            document.getElementById('op-card-number-attk').textContent = newATKNumber;
            if (newHPNumber > 10) {
                document.getElementById('op-hp-box').style.marginLeft = "13px";
            }
            if (newATKNumber > 10) {
                document.getElementById('op-attk-box').style.marginRight = "13px";
            }
        }
        const rarityRanking = {
            'Common': 1,
            'Rare': 2,
            'Epic': 3,
            'Legendary': 4
        };
        const rarityColors = {
            'Common': 'green',
            'Rare': 'blue',
            'Epic': 'purple',
            'Legendary': 'orange'
        };
        function addBuffToBlock(buff) {
            const sideRect = document.getElementById('sideRect');
            const existingElements = sideRect.getElementsByTagName('p');
            let found = false;

            // Iterate through the existing elements to check if the buff already exists
            for (let p of existingElements) {
                const [existingBuff, existingLevelText] = p.textContent.split(' '); // Splits into buff name and level
                const existingLevel = Number(existingLevelText.replace('level', '')); // Extracts the numeric level

                // If the buff is found
                if (existingBuff === buff.bf_name) {
                    found = true;

                    // Increment the level if it's less than 4
                    if (existingLevel < 4) {
                        const newLevel = existingLevel + 1;
                        p.textContent = `${buff.bf_name} level${newLevel}`; // Update the buff level
                        p.classList.add('updated'); // Optional class for highlighting updates
                    }
                    break;
                }
            }

            // If the buff is not found, add a new entry with level 1
            if (!found) {
                const p = document.createElement('p');
                p.textContent = `${buff.bf_name} level1`; // Start with level 1
                p.classList.add('new');
                sideRect.appendChild(p);
            }

            // Optional: Automatically scroll down to the latest content
            sideRect.scrollTop = sideRect.scrollHeight;
        };
        RollActionButton.addEventListener('click', function () {
            if (Number(document.getElementById("goldValue").textContent) >= 20) {
                RandomCard();
                document.getElementById("goldValue").textContent = Number(document.getElementById("goldValue").textContent) - 20;
            }
            else {
                showAlert('Not enough money', 500);
            }
        });
        function RandomCard() {
            // Перемешиваем массив баффов
            shuffledBuffs = shuffleArray(buffCards).slice(0, 3); // Берем 3 случайные карты

            // Получаем все элементы с классом card
            const cardBuffs = document.querySelectorAll('.card');

            // Присваиваем каждому div новые данные о баффах
            cardBuffs.forEach((cardBuff, index) => {
                const buff = shuffledBuffs[index];

                // Назначаем имя баффа в data-card атрибут
                cardBuff.setAttribute('data-card', buff.bf_name);

                console.log('data-card установлен на:', cardBuff.getAttribute('data-card')); // Проверяем data-card

                // Изменяем текст внутри div на имя баффа
                cardBuff.textContent = buff.buff_name;

                // Присваиваем изображение как фон
                cardBuff.style.backgroundImage = `url(${buff.img})`;
                cardBuff.style.backgroundSize = 'cover'; // Устанавливаем изображение на всю область
                cardBuff.style.backgroundPosition = 'center'; // Центрируем изображение
            });
            cardBuffs.forEach(option => {
                option.style.display = 'block'; // Восстанавливаем видимость карт
            });
            hiddenCardsCount = 0;
        }

        // Функция для выбора случайной карты
        function selectRandomCard(cards) {
            const randomIndex = Math.floor(Math.random() * cards.length);
            const randomCard = cards[randomIndex];
            randomCard.click();  // Симуляция клика на случайную карту
        }

        // Добавляем обработчик на кнопку Random
        randomButton.addEventListener('click', function () {
            selectRandomCard(cardOptions);
        });
        readyButton.addEventListener('click', () => {
            if (readyButton.textContent === "Ready") {
                // document.getElementById('additional-info').style.display = "block";
                // document.getElementById('additional-info').textContent = "Waiting for second player";
                showAlert("Waiting for second player", roundTimeLeft * 1000);
                socket.emit('buffsSelected', room_Id, {
                    playerId: localStorage.getItem('userId'),
                    status: "ready"
                });
            }
            else {
                socket.emit('nextRound', room_Id, {
                    // playerId: localStorage.getItem('userId'),
                    // status: 
                });
            }
        });

        // Обработчик клика на карты
        cardOptions.forEach(option => {
            option.addEventListener('click', function () {
                if (hasSelectedCard) return;  // Предотвращаем повторный выбор
                hasSelectedCard = true;  // Отмечаем, что карта выбрана

                const selectedCard = option.getAttribute('data-card');
                hideUnselectedCards(option);

                document.getElementById('info-text').textContent = "Waiting for second player";

                // Отправляем выбранную карту на сервер
                socket.emit('cardSelected', room_Id, {
                    playerId: localStorage.getItem('userId'),
                    card: selectedCard
                });
                randomButton.style.display = 'none';
                // Останавливаем таймер
                // clearInterval(timerInterval);
            });
        });
        cardBuffs.forEach((option, index) => {
            option.addEventListener('click', function () {
                const selectedCard = option.getAttribute('data-card');
                // let selectdPrice = option.get
                // console.log(selectedCard);
                if (Number(document.getElementById("goldValue").textContent >= Number(shuffledBuffs[index].price))) {
                    socket.emit('buffSelected', room_Id, {
                        playerId: localStorage.getItem('userId'),
                        buff: selectedCard,
                        price: shuffledBuffs[index].price,
                        level: shuffledBuffs[index].level,
                        rarity: shuffledBuffs[index].rarity
                    });
                    option.style.display = 'none';
                    hiddenCardsCount++;
                    document.getElementById("goldValue").textContent = Number(document.getElementById("goldValue").textContent) - Number(shuffledBuffs[index].price);
                    // Example: Add strings dynamically
                    addBuffToBlock(shuffledBuffs[index]); // Adds one string per second
                }
                else {
                    showAlert('Not enough money', 500);
                }
                if (hiddenCardsCount === 3) {
                    cardBuffs.forEach(option => {
                        option.style.display = 'block'; // Восстанавливаем видимость карт
                    });
                    hiddenCardsCount = 0;
                    RandomCard();
                }
            });
        });
        function toggleClicks(isMyTurn) {
            const cardAbilities = document.querySelectorAll('.ability-card');
            cardAbilities.forEach(card => {
                card.style.pointerEvents = isMyTurn ? 'none' : 'auto';
            });
        }
        function hideUnselectedCards(selectedOption) {
            cardOptions.forEach(option => {
                if (option !== selectedOption) {
                    option.style.visibility = 'hidden';  // Скрываем остальные карты
                }
            });
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        function createBars(count, manaCount) {
            // Находим элемент с классом 'track'
            const track = document.querySelector('.track');
            const progress = document.querySelector('.progress');
            const mana = document.querySelector('.mana');

            mana.textContent = manaCount;

            // Очищаем track перед добавлением новых bar
            track.innerHTML = '';

            // Ширина одного бара и отступов
            const barWidth = 6;  // ширина одной полоски .bar
            const margin = 2;    // отступ между полосками


            // Вычисляем общую ширину progress
            const totalWidth = count * (barWidth + margin * 2);

            // Устанавливаем динамическую ширину прогресс-бара
            progress.style.width = `${totalWidth + 4}px`; // +4px для небольшого запаса на границы

            // Создаем нужное количество div с классом 'bar'
            for (let i = 0; i < count; i++) {
                const bar = document.createElement('div');
                bar.classList.add('bar');
                track.appendChild(bar);
            }
        }

        function createHpBars(count, hpCountOwn, hpCountOpp) {
            // Находим элемент с классом 'track'
            const track = document.querySelector('.hp-track');
            const trackOpp = document.querySelector('.opponent-hp-track');
            const progress = document.querySelector('.hp-progress');
            const progressOpp = document.querySelector('.opponent-hp-progress');
            const hp = document.querySelector('.hp');
            const hpOpp = document.querySelector('.opponenthp');

            hp.textContent = hpCountOwn;
            hpOpp.textContent = hpCountOpp;

            // Очищаем track перед добавлением новых bar
            track.innerHTML = '';
            trackOpp.innerHTML = '';

            // Ширина одного бара и отступов
            const barWidth = 6;  // ширина одной полоски .bar
            const margin = 2;    // отступ между полосками


            // Вычисляем общую ширину progress
            const totalWidth = count * (barWidth + margin * 2);

            // Устанавливаем динамическую ширину прогресс-бара
            progress.style.width = `${totalWidth + 4}px`; // +4px для небольшого запаса на границы
            progressOpp.style.width = `${totalWidth + 4}px`;
            // Создаем нужное количество div с классом 'bar'
            for (let i = 0; i < count; i++) {
                const bar = document.createElement('div');
                const barOpp = document.createElement('div');
                bar.classList.add('hpbar');
                barOpp.classList.add('hpoppbar');
                track.appendChild(bar);
                trackOpp.appendChild(barOpp);
            }
        }

        // Отправляем информацию о себе
        socket.emit('userEmail', localStorage.getItem('userEmail'));
        socket.emit('userId', localStorage.getItem('userId'));
        socket.emit('userName', localStorage.getItem('userName')); // добавь соответствующий обработчик на сервере
        socket.emit('userAvatar', localStorage.getItem('userAvatar')); // добавь соответствующий обработчик на сервере
        socket.emit('searchGame');
        socket.on('pause', () => {
            localStorage.setItem('loginInfo', 'Game ended! Second player quit the session.');
            window.location.href = "menu.html";
        });
        socket.on('startGame', ({ roomId, players }) => {
            // Запуск таймера
            timerInterval = setInterval(updateTimer, 1000);
            cardSelectionScreen.style.display = 'flex'; // Скрываем экран выбора карт
            arena.style.display = 'none'; // Показываем арену
            load.style.display = 'none';
            room_Id = roomId;

            // Сохраняем данные об оппоненте
            const player = players.find(p => p.id === socket.id);
            const opponent = players.find(p => p.id !== socket.id);
            document.getElementById('playerNick').textContent = player.name;
            document.getElementById('opNick').textContent = opponent.name;

            document.querySelector('.avatar.player-avatar').style.backgroundImage = `url(${player.avatar})`;
            document.querySelector('.avatar.player-avatar').style.backgroundSize = 'cover';
            document.querySelector('.avatar.player-avatar').style.backgroundPosition = 'center';

            document.querySelector('.avatar.opponent-avatar').style.backgroundImage = `url(${opponent.avatar})`;
            document.querySelector('.avatar.opponent-avatar').style.backgroundSize = 'cover';
            document.querySelector('.avatar.opponent-avatar').style.backgroundPosition = 'center';
        });

        document.addEventListener('DOMContentLoaded', function () {
            const togglePanel = document.getElementById('togglePanel');
            const sidePanel = document.getElementById('sidePanel');
            const arrow = document.querySelector('.toggle-arrow');

            // Открытие и закрытие панели
            togglePanel.addEventListener('click', function () {
                if (sidePanel.style.left === '0px') {
                    sidePanel.style.left = '-250px';
                    arrow.style.transform = 'rotate(0deg)'; // Возвращаем стрелку вправо
                } else {
                    sidePanel.style.left = '0px';
                    arrow.style.transform = 'rotate(180deg)'; // Поворачиваем стрелку влево
                }
            });

            // Закрытие панели при клике вне её области
            document.addEventListener('click', function (event) {
                const isClickInsidePanel = sidePanel.contains(event.target);
                const isClickOnToggle = togglePanel.contains(event.target);

                if (!isClickInsidePanel && !isClickOnToggle) {
                    // Закрываем панель, если клик вне её области и вне кнопки
                    sidePanel.style.left = '-250px';
                    arrow.style.transform = 'rotate(0deg)'; // Возвращаем стрелку вправо
                }
            });

            const checkbox1 = document.getElementById('checkbox1');
            const checkbox2 = document.getElementById('checkbox2');
            const hp = document.querySelector('.hp');
            const hpOpp = document.querySelector('.opponenthp');
            const mana = document.querySelector('.mana');

            // Обработчик для первого чекбокса
            checkbox1.addEventListener('change', function () {
                if (checkbox1.checked) {
                    mana.style.visibility = 'hidden';
                } else {
                    mana.style.visibility = 'visible';
                }
            });

            // Обработчик для второго чекбокса
            checkbox2.addEventListener('change', function () {
                if (checkbox2.checked) {
                    hp.style.visibility = 'hidden';
                    hpOpp.style.visibility = 'hidden';
                } else {
                    hp.style.visibility = 'visible';
                    hpOpp.style.visibility = 'visible';
                }
            });

            let hasSelectedCard = false;// Track if the player has selected a card

            fetch('cards.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка сети');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('JSON данные загружены:', data); // Проверяем, что данные загружены

                    heroCards = data.hero_cards;
                    buffCards = data.buffs;

                    // Перемешиваем массив героев для случайного выбора
                    const shuffledHeroes = shuffleArray(heroCards).slice(0, 3); // Берем первые 3 карты
                    shuffledBuffs = shuffleArray(buffCards).slice(0, 3); // Берем первые 3 баффа

                    RandomCard();

                    // Присваиваем каждому div данные о героях без повторений
                    cardOptions.forEach((cardElement, index) => {
                        const hero = shuffledHeroes[index];
                        // Назначаем имя героя в data-card атрибут
                        cardElement.setAttribute('data-card', hero.he_name);

                        console.log('data-card установлен на:', cardElement.getAttribute('data-card')); // Проверяем data-card

                        // Присваиваем изображение как фон
                        // updateCardNumber()
                        cardElement.style.backgroundImage = `url(${hero.img})`;
                        cardElement.style.backgroundSize = 'cover'; // Устанавливаем изображение на всю область
                        cardElement.style.backgroundPosition = 'center'; // Центрируем изображение

                        const hpElement = cardElement.querySelector('.card-opt-hp-text');
                        const attackElement = cardElement.querySelector('.card-opt-attk-text');

                        hpElement.textContent = hero.hp; // Заполняем HP
                        attackElement.textContent = hero.atk; // Заполняем атаку

                        const hpBox = cardElement.querySelector('.card-opt-hp');
                        const attkBox = cardElement.querySelector('.card-opt-attk');

                        if (hero.hp > 10) {
                            hpBox.style.marginLeft = "23px";
                        } else {
                            hpBox.style.marginLeft = ""; // Возвращаем стиль по умолчанию
                        }

                        // Обновляем только для той карты, у которой атака > 10
                        if (hero.atk > 10) {
                            attkBox.style.marginRight = "23px";
                        } else {
                            attkBox.style.marginRight = ""; // Возвращаем стиль по умолчанию
                        }
                    });
                })
                .catch(error => {
                    console.error('Ошибка загрузки JSON:', error); // Отслеживаем ошибки загрузки JSON
                });


            // function hideUnselectedCards(selectedOption) {
            //     cardOptions.forEach(option => {
            //         if (option !== selectedOption) {
            //             option.style.visibility = 'hidden'; // Hide other cards
            //         }
            //     });
            // }

            // Handle the response from the server when both players have selected cards
            socket.on('startRound', (data) => {
                roundTimerInterval = setInterval(updateRoundTimer, 1000);
                document.getElementById('round-counter').textContent = "Buff phase";

                console.log('Received startRound event from server');
                console.log('Players selected cards:', data.players);

                const currentPlayerId = socket.id;
                serverdata = data;

                // Определяем противника и себя
                const opponent = data.players.find(player => player.id !== currentPlayerId);
                const currentPlayer = data.players.find(player => player.id === currentPlayerId);
                createHpBars(30, 30, 30);
                // Обработка карты противника
                if (opponent) {
                    console.log(`Opponent's card: ${opponent.card}`);

                    // Находим изображение карты по имени в загруженных данных
                    const opponentHeroCard = heroCards.find(card => card.he_name === opponent.card);

                    if (opponentHeroCard) {
                        const opponentCardImg = opponentHeroCard.img;
                        console.log(`Opponent's card image: ${opponentCardImg}`);

                        // Добавляем стиль для отображения изображения карты противника
                        const opponentCardElement = document.querySelector('.opponentcard-large');
                        if (opponentCardElement) {
                            opponentCardElement.style.backgroundImage = `url(${opponentCardImg})`;
                            opponentCardElement.style.backgroundSize = 'cover';
                            opponentCardElement.style.backgroundPosition = 'center';
                            updateOpCardNumber(opponentHeroCard.hp, opponentHeroCard.atk)
                        }
                    } else {
                        console.log('Error: Opponent card not found in heroCards');
                    }
                } else {
                    console.log('Error: Opponent not found in data.players');
                }

                // Обработка карты текущего игрока
                if (currentPlayer) {
                    console.log(`Your card: ${currentPlayer.card}`);

                    // Находим изображение карты по имени в загруженных данных
                    const currentPlayerHeroCard = heroCards.find(card => card.he_name === currentPlayer.card);

                    if (currentPlayerHeroCard) {
                        const currentPlayerCardImg = currentPlayerHeroCard.img;
                        console.log(`Your card image: ${currentPlayerCardImg}`);
                        createBars(parseInt(currentPlayerHeroCard.mana), currentPlayerHeroCard.mana);

                        document.getElementById("goldValue").textContent = currentPlayerHeroCard.money;

                        // Добавляем стиль для отображения изображения карты текущего игрока
                        const currentPlayerCardElement = document.querySelector('.card-large');
                        if (currentPlayerCardElement) {
                            currentPlayerCardElement.style.backgroundImage = `url(${currentPlayerCardImg})`;
                            currentPlayerCardElement.style.backgroundSize = 'cover';
                            currentPlayerCardElement.style.backgroundPosition = 'center';
                            updateCardNumber(currentPlayerHeroCard.hp, currentPlayerHeroCard.atk);
                        }
                    } else {
                        console.log('Error: Your card not found in heroCards');
                    }
                } else {
                    console.log('Error: Current player not found in data.players');
                }

                // Скрываем экран выбора карт и показываем арену
                cardSelectionScreen.style.display = 'none';
                arena.style.display = 'block';
            });

            const attackButton = document.getElementById('attackButton');

            attackButton.addEventListener('click', () => {
                const currentPlayerId = socket.id;

                // Определяем противника и себя
                const opponent = serverdata.players.find(player => player.id !== currentPlayerId);
                const currentPlayer = serverdata.players.find(player => player.id === currentPlayerId);
                // const currentPlayerHeroCard = heroCards.find(card => card.he_name === currentPlayer.card);
                socket.emit('Attack', room_Id, {
                    attackerId: currentPlayer,
                    targetId: opponent,
                    value: null
                });
                attackButton.disabled = true;
            });

            socket.on('AttackResult', (data) => {
                const { attackerId, targetId, damage } = data;
                const currentPlayerId = socket.id;
                const opponent = serverdata.players.find(player => player.id !== currentPlayerId);
                const currentPlayer = serverdata.players.find(player => player.id === currentPlayerId);
                // console.log(currentPlayerId);
                // console.log(opponent);
                // console.log(currentPlayer);
                // console.log(targetId.id);
                // console.log(attackerId.id);
                let newhp;
                // if (document.getElementById('op-icon').style.display === "flex" 
                // || document.getElementById('pl-icon').style.display === "flex") {
                //     damage = Math.round(damage / 2);
                // }
                // Проверяем, кто является целью атакиs
                if (currentPlayerId === targetId.id) {
                    // Если текущий игрок — это цель, обновляем его HP
                    newhp = parseInt(document.getElementById('card-number-hp').textContent) - damage;
                    updateCardNumber(newhp, document.getElementById('card-number-attk').textContent);
                    document.getElementById('pl-icon').style.display === "none"
                } else if (currentPlayerId === attackerId.id) {
                    // Если текущий игрок — это атакующий, обновляем HP противника
                    newhp = parseInt(document.getElementById('op-card-number-hp').textContent) - damage;
                    updateOpCardNumber(newhp, document.getElementById('op-card-number-attk').textContent);
                    document.getElementById('op-icon').style.display === "none"
                }

                console.log(`Игрок ${attackerId.id} нанес ${damage} урона игроку ${targetId.id}`);
            });
            socket.on('HealResult', (data) => {
                const { HealId, heal } = data;
                const currentPlayerId = socket.id;
                const currentPlayer = serverdata.players.find(player => player.id === currentPlayerId);
                let newhp;

                // Проверяем, кто является целью атаки
                if (currentPlayerId === HealId.id) {
                    // Если текущий игрок — это цель, обновляем его HP
                    newhp = parseInt(document.getElementById('card-number-hp').textContent) + Number(heal);
                    updateCardNumber(newhp, document.getElementById('card-number-attk').textContent);
                } else if (currentPlayerId !== HealId.id) {
                    // Если текущий игрок — это атакующий, обновляем HP противника
                    newhp = parseInt(document.getElementById('op-card-number-hp').textContent) + Number(heal);
                    updateOpCardNumber(newhp, document.getElementById('op-card-number-attk').textContent);
                }

                // console.log(`Игрок ${attackerId.id} нанес ${damage} урона игроку ${targetId.id}`);
            });
            socket.on('DefResult', (data) => {
                const { DefId } = data;
                const currentPlayerId = socket.id;
                const currentPlayer = serverdata.players.find(player => player.id === currentPlayerId);
                // let newhp;

                // Проверяем, кто является целью атаки
                if (currentPlayerId === DefId.id) {
                    document.getElementById('pl-icon').style.display = "flex";
                    // Если текущий игрок — это цель, обновляем его HP
                    // newhp = parseInt(document.getElementById('card-number-hp').textContent) + Number(heal);
                    // updateCardNumber(newhp, document.getElementById('card-number-attk').textContent);
                } else if (currentPlayerId !== DefId.id) {
                    document.getElementById('op-icon').style.display = "flex";
                    // Если текущий игрок — это атакующий, обновляем HP противника
                    // newhp = parseInt(document.getElementById('op-card-number-hp').textContent) + Number(heal);
                    // updateOpCardNumber(newhp, document.getElementById('op-card-number-attk').textContent);
                }

                // console.log(`Игрок ${attackerId.id} нанес ${damage} урона игроку ${targetId.id}`);
            });
            // socket.on('startRound', (Timer) => {

            // });

            socket.on('startTurn', (data) => {
                clearInterval(roundTimerInterval);
                roundTimeLeft = 30;
                stopAlert()
                // console.log(data);
                const currentPlayerId = socket.id;
                // Определяем себя
                const currentPlayer = data.players.find(player => player.id === currentPlayerId);
                const currentPlayerHeroCard = heroCards.find(card => card.he_name === currentPlayer.card);
                // console.log("turn started")
                const cardAbilities = document.querySelectorAll('.ability-card');
                buffBlock.style.display = 'none';
                buttonGoldBlock.style.display = 'none';
                AbilityBlock.style.display = 'flex';
                AttackbuttonBlock.style.display = 'block';
                // // Присваиваем каждому div новые данные о баффах
                cardAbilities.forEach((cardAb, index) => {
                    // console.log(heroCards[index].abilities[index].img);
                    // Присваиваем изображение как фон
                    cardAb.style.backgroundImage = `url(${currentPlayerHeroCard.abilities[index].img})`;
                    cardAb.style.backgroundSize = 'cover'; // Устанавливаем изображение на всю область
                    cardAb.style.backgroundPosition = 'center'; // Центрируем изображение
                });
                cardAbilities.forEach((cardAb, index) => {
                    cardAb.addEventListener('click', () => {
                        const selectedCard = cardAb.getAttribute('data-card');
                        const currentPlayerId = socket.id;
                        const opponent = serverdata.players.find(player => player.id !== currentPlayerId);
                        const currentPlayer = serverdata.players.find(player => player.id === currentPlayerId);

                        switch (currentPlayerHeroCard.abilities[index].type) {
                            case 'attack':
                                // console.log(currentPlayerHeroCard.abilities[index].property[0].dmg);
                                socket.emit('Attack', room_Id, {
                                    attackerId: currentPlayer,
                                    targetId: opponent,
                                    value: currentPlayerHeroCard.abilities[index].property[0].dmg
                                });
                                break;
                            case 'heal':
                                socket.emit('Heal', room_Id, {
                                    HealId: currentPlayer,
                                    value: currentPlayerHeroCard.abilities[index].property[0].dmg
                                });
                                break;
                            case 'defense':
                                socket.emit('Defense', room_Id, {
                                    DefId: currentPlayer
                                });
                                break;

                            default:
                                break;
                        }

                    });
                });

                roundCounter++;
                readyButton.textContent = "End round";
                document.getElementById('round-counter').textContent = `Round: ${roundCounter}`;
                socket.emit('firstRound', room_Id);
                roundTimerInterval = setInterval(updateRoundTimer, 1000)

                // socket.emit('roundEnd');

            });
            socket.on('firstTurn', (turnId, roundNum) => {
                document.getElementById('round-counter').textContent = `Round: ${roundNum}`
                if (turnId === socket.id) {
                    stopAlert();
                    showAlert("Your turn", 2000);
                    readyButton.disabled = false;
                    attackButton.disabled = false;
                    toggleClicks(false);
                }
                else {
                    stopAlert();
                    showAlert("Opponent turn", 30000);
                    readyButton.disabled = true;
                    attackButton.disabled = true;
                    toggleClicks(true);
                }
            });
            // Debug log to confirm connection
            socket.on('connect', () => {
                console.log('Connected to server with ID:', socket.id);
            });

            // Debug log for errors
            socket.on('connect_error', (error) => {
                console.error('Connection error:', error);
            });
            socket.on('disconnect', function () {

                // You can display an alert or take other actions
                // showAlert("Server disconnected, try again later!")
                window.location.href = "arena.html"

                // Optionally, reload the page or redirect
                // location.reload(); // to attempt reconnect
            });
        });
    </script>
</body>

</html>