<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body class="edit">
    <div id="infoMessage" class="info-message"></div>

    <div class="profile-edit-container">
        <div class="link-container">
            <a href="menu.html" id="goBackLink">←</a>
        </div>
        <form enctype="multipart/form-data" id="editForm">
            <h1>Edit Your Profile</h1>

            <div class="current-avatar">
                <img id="current-ava" src="123.png" alt="Current Avatar">
            </div>

            <div class="form-group">
                <label for="name">Current Name: <span class="current-value" id="current-name">Negr123</span></label>
                <input type="text" id="name" name="name" placeholder="Enter your new name">
            </div>

            <div class="form-group">
                <label for="email">Current Email: <span class="current-value"
                        id="current-email">Negr123@example.com</span></label>
                <input type="email" id="email" name="email" placeholder="Enter your new email">
            </div>

            <!-- Изменение аватара -->
            <!-- <div class="form-group">
                <label for="avatar">Change Avatar</label>
                <input type="file" id="avatar" name="avatar" accept="image/*">
            </div> -->
            <div class="form-group">
                <p id="change-ava">Change Avatar:</p>
                <div class="avatars">
                    <label class="avatar-option">
                        <input type="radio" name="avatar" value="123.png" />
                        <img src="123.png" alt="Avatar 1">
                    </label>
                    <label class="avatar-option">
                        <input type="radio" name="avatar" value="231.png" />
                        <img src="231.png" alt="Avatar 2">
                    </label>
                    <label class="avatar-option">
                        <input type="radio" name="avatar" value="213.png" />
                        <img src="213.png" alt="Avatar 3">
                    </label>
                </div>
            </div>



            <!-- Кнопка сохранения изменений профиля -->
            <div class="form-group">
                <button type="submit" class="save-btn" id="saveChanges">Save Changes</button>
            </div>
        </form>

        <hr><br>
        <!-- Кнопка для изменения пароля -->
        <!-- <div class="form-group"> -->
        <button type="button" class="change-password-btn" id="open-password-modal">Change Password</button>
        <!-- </div> -->
    </div>



    <!-- Модальное окно для изменения пароля -->
    <div class="modal-overlay" id="modal-overlay"></div>
    <div class="password-modal" id="password-modal">
        <h2>Change Password</h2>
        <form class="password-change-form" id="passwordForm">
            <div class="form-group">
                <label for="current-password">Current Password</label>
                <input type="password" id="current-password" name="current-password"
                    placeholder="Enter current password">
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" placeholder="Enter new password">
            </div>
            <div class="form-group">
                <label for="confirm-new-password">Confirm New Password</label>
                <input type="password" id="confirm-new-password" name="confirm-new-password"
                    placeholder="Confirm new password">
            </div>
            <div class="form-group">
                <button type="submit" class="save-btn">Save Password</button>
            </div>
        </form>
        <button type="button" class="close-modal-btn" id="close-password-modal">Cancel</button>
    </div>

    <script>
        // Функция для выбора радио-кнопки с определенным значением
        function selectAvatarByValue(value) {
            const radios = document.querySelectorAll('input[name="avatar"]');

            radios.forEach((radio) => {
                if (radio.value === value) {
                    radio.checked = true; // Устанавливаем checked для нужного значения
                }
            });
        }

        // Пример вызова функции
        selectAvatarByValue(localStorage.getItem('userAvatar'));
        document.getElementById('current-ava').src = localStorage.getItem('userAvatar');


        const openPasswordModalBtn = document.getElementById('open-password-modal');
        const closePasswordModalBtn = document.getElementById('close-password-modal');
        const passwordModal = document.getElementById('password-modal');
        const modalOverlay = document.getElementById('modal-overlay');
        let form = document.getElementById("editForm");
        form.addEventListener("submit", async (event) => {
            event.preventDefault();
            let newMail = document.getElementById("email").value;
            let newName = document.getElementById("name").value;
            let newAva = document.querySelector('input[name="avatar"]:checked').value;
            // let oldname = localStorage.getItem('userName');
            // console.log(oldname);
            if (newMail !== '' || newName !== '' || newAva !== localStorage.getItem('userAvatar')) {
                const response = await fetch(`/user/${localStorage.getItem('userId')}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        name: newName || localStorage.getItem("userName"),
                        email: newMail || localStorage.getItem("userEmail"),
                        avatar: newAva || localStorage.getItem('userAvatar')
                    })
                });
                if (response.ok) {
                    form.reset();
                    if (newMail !== '') {
                        localStorage.setItem('userEmail', newMail);
                        document.getElementById("current-email").textContent = localStorage.getItem("userEmail");
                    }
                    if (newName !== '') {
                        localStorage.setItem('userName', newName);
                        document.getElementById("current-name").textContent = localStorage.getItem("userName");
                    }
                    if (newAva !== localStorage.getItem('userAvatar')) {
                        localStorage.setItem('userAvatar', newAva);
                        document.getElementById('current-ava').src = localStorage.getItem('userAvatar');
                    }

                    const infoMessageDiv = document.getElementById('infoMessage');
                    infoMessageDiv.textContent = 'Edit successful!';
                    infoMessageDiv.style.display = 'block';

                    setTimeout(() => {
                        infoMessageDiv.style.display = 'none';
                    }, 3000);

                } else if (response.status === 400) {
                    alert("User with this email already exists");
                } else {
                    const data = await response.json();
                    alert(data.error);
                }
            }

        });

        let passwordform = document.getElementById("passwordForm");
        passwordform.addEventListener("submit", async (event) => {
            event.preventDefault();
            let oldPass = document.getElementById("current-password").value;
            let newPass = document.getElementById("new-password").value;
            let newNameSubmit = document.getElementById("confirm-new-password").value;
            if (newPass !== newNameSubmit) {
                alert('New passwords do not match!');
                return;
            }
            else if (oldPass === '' || newPass === '' || newNameSubmit === '') {
                alert('Password can not be empty!');
                return;
            }
            else if (oldPass.includes(' ') || newPass.includes(' ') || newNameSubmit.includes(' ')) {
                alert('Password can not include space!');
                return;
            }
            try {
                const response = await fetch(`/user/${localStorage.getItem('userId')}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        name: localStorage.getItem("userName"),
                        email: localStorage.getItem("userEmail"),
                        old: oldPass,
                        new: newPass
                    })
                });
                if (response.ok) {
                    passwordform.reset();
                    modalOverlay.click();
                    const infoMessageDiv = document.getElementById('infoMessage');
                    infoMessageDiv.textContent = 'Edit successful!';
                    infoMessageDiv.style.display = 'block';
                    setTimeout(() => {
                        infoMessageDiv.style.display = 'none';
                    }, 3000);

                } else if (response.status === 400) {
                    alert("Current password does not match");
                } else {
                    alert("Problem with smth");
                }
            } catch (error) {
                alert('An error occurred: ' + error.message);
            }

            // let oldname = localStorage.getItem('userName');
            // console.log(oldname);

        });

        document.getElementById("current-name").textContent = localStorage.getItem("userName");
        document.getElementById("current-email").textContent = localStorage.getItem("userEmail");
        // document.getElementById('current-ava').src = localStorage.getItem('userAvatar');
        // Открытие и закрытие модального окна для смены парол

        // Открыть модальное окно
        openPasswordModalBtn.addEventListener('click', () => {
            passwordModal.style.display = 'block';
            modalOverlay.style.display = 'block';
        });

        // Закрыть модальное окно
        closePasswordModalBtn.addEventListener('click', () => {
            passwordModal.style.display = 'none';
            modalOverlay.style.display = 'none';
        });

        // Закрытие при клике на затемнение
        modalOverlay.addEventListener('click', () => {
            passwordModal.style.display = 'none';
            modalOverlay.style.display = 'none';
        });

    </script>
</body>

</html>