<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
</head>
<div id="userEmailDisplay"></div>
<div id="userEmails"></div>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000');  // Инициализация сокета
    
        // Отправляем информацию о себе
        socket.emit('userEmail', localStorage.getItem('userEmail'));
        socket.emit('userId', localStorage.getItem('userId'));
        socket.emit('userName', localStorage.getItem('userName')); // добавь соответствующий обработчик на сервере
        socket.emit('userAvatar', localStorage.getItem('userAvatar')); // добавь соответствующий обработчик на сервере
    
        // Ищем игру
        function searchGame() {
            socket.emit('searchGame');
        }
    
        document.addEventListener('DOMContentLoaded', (event) => {
            event.preventDefault();
            const userEmail = localStorage.getItem('userEmail');
    
            if (userEmail) {
                searchGame();  // Ищем комнату для игры
            } else {
                console.log("User email not found in localStorage.");
            }
        });
    
        // Когда начинается игра
        socket.on('startGame', ({ roomId, players }) => {
            console.log(`Game started in room ${roomId}`);
    
            // Сохраняем данные об оппоненте
            const player = players.find(p => p.id !== socket.id);
            if (player) {
                localStorage.setItem('opName', player.name);
                localStorage.setItem('opEmail', player.email);
                // localStorage.setItem('opId', player.id);
                localStorage.setItem('opAva', player.avatar);
            }
    
            // Перенаправляем на страницу арены
            window.location.href = "arena.html";
        });
    
        // Обработка, если комната переполнена
        socket.on('roomFull', ({ message }) => {
            console.log(message);
        });
    </script>
</body>

</html>